body{
    margin: 0 auto;
    text-align: center;
    background: url(images/7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}


span{ /*header & counter*/
    margin-left: 5px;
    font-size: 32px;
    font-weight: bold;
    color: cyan;
    text-shadow: 2px 1px blue;
}

#boxball{ /* the box of ball*/
     margin: 0 auto;
    text-align: center;
    background-color: #FFFFFF;
    opacity: .5;
    margin-top: 10px;
    width: 500px;
    height: 400px;
    position: relative;
    border-radius: 5px;
    border: 1px  #111;
    border-radius: 7px;
    overflow: hidden;

}
button{  /* the button*/
    margin-top: 10px;
    display: inline-block;
    background-color: cyan;
    border: 1px solid #FFFFFF;
    outline: none;
    cursor: pointer;
    color: blue;
    border-radius:5px ;
    margin-right: 15px;
    width:100px ;
    height: 50px;
    font-size: 19px;
    font-family: Tahoma;

}

img{
    width: 30px;
    height: 30px;
}


#playagain{
    display: none;
}